{% load static %}
<!DOCTYPE html>
<!--[if IE 7]>
<html class="ie ie7 no-js" lang="en-US">
<![endif]-->
<!--[if IE 8]>
<html class="ie ie8 no-js" lang="en-US">
<![endif]-->
<!--[if !(IE 7) | !(IE 8)  ]><!-->
<html lang="en" class="no-js">


<head>
	<!-- Basic need -->
	<title>Open Pediatrics</title>
	<meta charset="UTF-8">
	<meta name="description" content="">
	<meta name="keywords" content="">
	<meta name="author" content="">
	<link rel="profile" href="#">

    <!--Google Font-->
    <link rel="stylesheet" href='http://fonts.googleapis.com/css?family=Dosis:400,700,500|Nunito:300,400,600' />
	<!-- Mobile specific meta -->
	<meta name=viewport content="width=device-width, initial-scale=1">
	<meta name="format-detection" content="telephone-no">

	<!-- CSS files -->
	<link rel="stylesheet" href="{% static './css/plugins.css' %}">
	<link rel="stylesheet" href="{% static './css/style.css' %}">

</head>
<body>
<!--preloading-->
<div id="preloader">
    <img class="logo" src="{% static './images/logo1.png' %}" alt="" width="119" height="58">
    <div id="status">
        <span></span>
        <span></span>
    </div>
</div>
<!--end of preloading-->
<!--login form popup-->
<div class="login-wrapper" id="login-content">
    <div class="login-content">
        <a href="#" class="close">x</a>
        <h3>Login</h3>
        <form method="post" action="/data/setlogin">
			{% csrf_token %}
<!--        	<div class="row">-->
        		 <label for="username">
                    Username:
                    <input type="text" name="usernamehehe" id="usernamehehe" placeholder="Username" required="required" />
                </label>
<!--        	</div>-->

<!--            <div class="row">-->
            	<label for="password">
                    Password:
                    <input type="text" name="password" id="password" placeholder="******"  required="required" />
                </label>
<!--            </div>-->
            <div class="row">
            	<div class="remember">
					<div>
						<input type="checkbox" name="remember" value="Remember me"><span>Remember me</span>
					</div>
            		<a href="#">Forget password ?</a>
            	</div>
            </div>
           <div class="row">
           	 <button type="submit">Login</button>
           </div>
        </form>
    </div>
</div>
<!--end of login form popup-->
<!--signup form popup-->
<div class="login-wrapper"  id="signup-content">
    <div class="login-content">
        <a href="#" class="close">x</a>
        <h3>sign up</h3>
        <form method="post" action="/data/createuser">
			{% csrf_token %}
            <div class="row">
                 <label for="username-2">
                    Username:
                    <input type="text" name="username" id="username-2" placeholder="Hugh Jackman" required="required" />
                </label>
            </div>
           <div class="row">
                 <label for="first_name">
                    Firstname:
                    <input type="text" name="first_name" id="first_name" placeholder="Hugh" required="required" />
                </label>
            </div>
			<div class="row">
                 <label for="last_name">
                    Last Name:
                    <input type="text" name="last_name" id="last_name" placeholder="Jackman" required="required" />
                </label>
            </div>
            <div class="row">
                <label for="email-2">
                    your email:
                    <input type=email name="email" id="email-2" placeholder=""  required="required" />
                </label>
            </div>
             <div class="row">
                <label for="password-2">
                    Password:
                    <input type="password" name="password" id="password-2" placeholder=""  required="required" />
                </label>
            </div>
             <div class="row">
                <label for="repassword-2">
                    re-type Password:
                    <input type="password" name="password" id="repassword-2" placeholder=""  required="required" />
                </label>
            </div>
			<div class="row">
                <label for="user_type">
                    <select name="user_type" id="user_type">
						<option value="regular">Regular</option>
						<option value="critic">Critic</option>
						<option value="producer">Producer</option>
					</select>
                </label>
            </div>
           <div class="row">
             <button type="submit">sign up</button>
           </div>
        </form>
    </div>
</div>
<!--end of signup form popup-->

<!-- BEGIN | Header -->
<header class="ht-header">
	<div class="container">
		<nav class="navbar navbar-default navbar-custom">
				<!-- Brand and toggle get grouped for better mobile display -->
				<div class="navbar-header logo">
				    <div class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
					    <span class="sr-only">Toggle navigation</span>
					    <div id="nav-icon1">
							<span></span>
							<span></span>
							<span></span>
						</div>
				    </div>
				    <a href="/"><img class="logo" src="{% static './images/logo1.png' %}" alt="" width="119" height="58"></a>
			    </div>
				<!-- Collect the nav links, forms, and other content for toggling -->
				<div class="collapse navbar-collapse flex-parent" id="bs-example-navbar-collapse-1">
					<ul class="nav navbar-nav flex-child-menu menu-left">
						<li class="hidden">
							<a href="#page-top"></a>
						</li>
						<li><a href="/data/movie/list">MOVIES</a></li>
						<li><a href="/data/actor/list">ACTORS</a></li>
					</ul>
					<ul class="nav navbar-nav flex-child-menu menu-right">
						{% if not request.user.is_authenticated %}
						<li class="loginLink"><a href="#">LOG In</a></li>
						<li class="btn signupLink"><a href="#">sign up</a></li>
						{% else %}
						<li><a href="/data/user/profile">{{request.user.username}}</a></li>
						<br>
						<li><a href="{% url 'logoutuser' %}">Logout</a></li>
						{% endif %}
					</ul>
				</div>
			<!-- /.navbar-collapse -->
	    </nav>

	    <!-- top search form -->
	    <form class="top-search" action="/data/search" method="post">
			{% csrf_token %}
	    	<select name="type">
				<option value="movie">MOVIES</option>
				<option value="actor">ACTORS</option>
			</select>
			<input type="text" placeholder="Enter your search here" name="search_query">
	    </form>
	</div>
</header>
<!-- END | Header -->

<div class="hero common-hero">
	<div class="container">
		<div class="row">
			<div class="col-md-12">
				<div class="hero-ct">
					<h1> movie listing</h1>
					<ul class="breadcumb">
						<li class="active"><a href="">Home</a></li>
						<li> <span class="ion-ios-arrow-right"></span> movie listing</li>
					</ul>
				</div>
			</div>
		</div>
	</div>
</div>
<div class="page-single">
	<div class="container">
		<div class="row ipad-width">
			<div class="col-md-8 col-sm-12 col-xs-12">
				<div class="topbar-filter">
					<p>Found <a href="#">{{movie_list|length}} movies</a> in total</p>
					<a  href="/data/movie/list" class="grid"><i class="ion-grid active"></i></a>
				</div>
				<div class="flex-wrap-movielist">
					{% for movie in movie_list %}
						<div class="movie-item-style-2 movie-item-style-1">
							<img src="{{movie.cover_art.url}}" alt="" width="120" height="80">
							<div class="hvr-inner">
	            				<a  href="/data/movie/{{movie.id}}"> Read more  <i class="ion-android-arrow-dropright"></i> </a>
	            			</div>
							<div class="mv-item-infor">
								<h6><a href="/data/movie/{{movie.id}}">{{movie.movie_name}}</a></h6>
								<p class="rate"><i class="ion-android-star"></i><span>{{movie.user_avg_rating}}</span> /5</p>
							</div>
						</div>
					{% endfor %}
				</div>
			</div>
			<div class="col-md-4 col-sm-12 col-xs-12">
				<div class="sidebar">
					<div class="searh-form">
						<h4 class="sb-title">Search for movie</h4>
						<form class="form-style-1 movie-form" action="/data/movie/list" method="post">
							{% csrf_token %}
							<div class="row">
								<div class="col-md-12 form-it">
									<label>Movie name</label>
									<input type="text" placeholder="Enter keywords" name="search_movie_name">
								</div>
								<div class="col-md-12 form-it">
									<label>Director name</label>
									<input type="text" placeholder="Enter keywords" name="search_director">
								</div>
								<div class="col-md-12 form-it">
									<label>Producer name</label>
									<input type="text" placeholder="Enter keywords" name="search_producer">
								</div>
								<div class="col-md-12 form-it">
									<label>Actor name</label>
									<input type="text" placeholder="Enter keywords" name="search_actor">
								</div>
								<div class="col-md-12 form-it">
									<label>Genre</label>
									<div class="group-ip">
										<select
											name="search_genre" multiple="" class="ui fluid dropdown">
											<option value="">Enter to filter genres</option>
											<option value="action">Action</option>
					                        <option value="adventure">Adventure</option>
					                        <option value="comedy">Comedy</option>
					                        <option value="romance">Romance</option>
					                        <option value="horror">Horror</option>
											<option value="sci-fi">Sci-fi</option>
											<option value="animation">Animation</option>
											<option value="crime">Crime</option>
										</select>
									</div>	
								</div>
								<div class="col-md-12 form-it">
									<label>User Rating</label>
									<div class="row">
										<div class="col-md-6">
											<input type="number" placeholder="Min"name="search_min_user_rating">
										</div>
										<div class="col-md-6">
											<input type="number" placeholder="Max" name="search_max_user_rating">
										</div>
									</div>
								</div>
								<div class="col-md-12 form-it">
									<label>Critic Rating</label>
									<div class="row">
										<div class="col-md-6">
											<input type="number" placeholder="Min"name="search_min_critic_rating">
										</div>
										<div class="col-md-6">
											<input type="number" placeholder="Max" name="search_max_critic_rating">
										</div>
									</div>
								</div>
								<div class="col-md-12 form-it">
									<label>Budget</label>
									<div class="row">
										<div class="col-md-6">
											<input type="number" placeholder="Min"name="search_min_budget">
										</div>
										<div class="col-md-6">
											<input type="number" placeholder="Max" name="search_max_budget">
										</div>
									</div>
								</div>
								<div class="col-md-12 form-it">
									<label>Runtime</label>
									<div class="row">
										<div class="col-md-6">
											<input type="number" placeholder="Min"name="search_min_runtime">
										</div>
										<div class="col-md-6">
											<input type="number" placeholder="Max" name="search_max_runtime">
										</div>
									</div>
								</div>
								<div class="col-md-12 form-it">
									<label>Year released</label>
									<div class="row">
										<div class="col-md-6">
											<input type="number" placeholder="Min" name="search_min_year_released">
										</div>
										<div class="col-md-6">
											<input type="number" placeholder="Max" name="search_max_year_released">
										</div>
									</div>
								</div>
								<div class="col-md-12 ">
									<input class="submit" type="submit" value="submit">
								</div>
							</div>
						</form>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
<!-- footer section-->
<footer class="ht-footer">

</footer>
<!-- end of footer section-->

<script src="{% static './js/jquery.js' %}"></script>
<script src="{% static './js/plugins.js' %}"></script>
<script src="{% static './js/plugins2.js' %}"></script>
<script src="{% static './js/custom.js' %}"></script>
</body>

<!-- moviegrid07:38-->
</html>